#dashboard-topbar input:focus,
#dashboard-topbar textarea:focus,
#dashboard-topbar isindex:focus,
#dashboard-topbar keygen:focus,
#dashboard-topbar select:focus {
    outline-offset: -2px;
}

#dashboard-topbar button,
#dashboard-topbar input,
#dashboard-topbar select,
#dashboard-topbar textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

#dashboard-topbar label,
#dashboard-topbar input,
#dashboard-topbar select,
#dashboard-topbar textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
}

#dashboard-topbar input,
#dashboard-topbar textarea,
#dashboard-topbar select,
#dashboard-topbar .uneditable-input {
    display: inline-block;
    width: 210px;
    height: 18px;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: gray;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#dashboard-topbar input,
#dashboard-topbar textarea {
    -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s,box-shadow linear 0.2s;
    -o-transition: border linear 0.2s,box-shadow linear 0.2s;
    transition: border linear 0.2s,box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#dashboard-topbar input:focus,
#dashboard-topbar textarea:focus {
    outline: 0;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
}

#dashboard-topbar label {
    padding-top: 6px;
    font-size: 13px;
    line-height: 18px;
    float: left;
    width: 130px;
    text-align: right;
    color: #404040;
}


#dashboard-topbar button,
#dashboard-topbar input[type="button"],
#dashboard-topbar input[type="reset"],
#dashboard-topbar input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

#dashboard-topbar input[type="button"],
#dashboard-topbar input[type="reset"],
#dashboard-topbar input[type="submit"] {
    width: auto;
    height: auto;
}




#dashboard-topbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #404040;
    height: 25px;
    width: 100%;
    background-color: {{top_nav_bar.bg_color}};
    position: {{position}};
}

#dashboard-topbar .dashboard-topbar-home-icon {
    display: block;
    position: absolute;
    top: 5px;
    left: 13px;
    height: 20px;
    width: 0px;
    padding-left: 20px;
    overflow: hidden;
    background-image: url(./dashboard_icon.png);
    background-repeat: no-repeat;
}

#dashboard-topbar a {
    text-decoration: none;
    font-weight: normal;
}

#dashboard-topbar .appname {
    font-weight: bold;
    color: white;
    margin: 0 50px;
    border-left: 1px solid #666;
    padding: 7px 10px;
    background-color: {{top_nav_bar.bg_color}};
    float: left;
}

#dashboard-topbar>ul {
    margin: 0;
    padding: 0;
    height: 25px;
    overflow: hidden;
    list-style-type: none;

}

#dashboard-topbar>ul>li {
    display: block;
    float: left;
}

#dashboard-topbar>ul>li>a {
    display: block;
    border-top: 2px solid {{top_nav_bar.bg_color}};
    background-color: {{top_nav_bar.bg_color}};
    padding: 1px 10px 2px 10px;
    color: {{top_nav_bar.link_color}};
    font-weight: bold;
    text-transform: capitalize;
}

#dashboard-topbar>ul>li>a:hover {
    color: {{top_nav_bar.active_link_color}};
    text-decoration: none;
}

#dashboard-topbar>ul>li.active>a.active {
    border-top: 2px solid {{top_nav_bar.active_bar_color}} !important;

    color: {{top_nav_bar.active_link_color}};
}

#dashboard-topbar #dashboard-topbar-session {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    color: white;
}

#dashboard-topbar #dashboard-topbar-session ul {
    border: none;
    background: #2D2D2D;
    height: 25px;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
    position: relative;
    top: 0;
    left: 0;
}

#dashboard-topbar #dashboard-topbar-session ul li {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
}

#dashboard-topbar #dashboard-topbar-session  a.login {
    display: block;
    border-top: 2px solid {{top_nav_bar.bg_color}};
    background-color: {{top_nav_bar.bg_color}};
    padding: 2px 10px 2px 10px;
    color: {{top_nav_bar.link_color}};
}

#dashboard-topbar #dashboard-topbar-session  a.login:hover {
    color: {{top_nav_bar.active_link_color}};
    text-decoration: none;
}

#dashboard-topbar #dashboard-topbar-session.active  a.login {
    color: {{top_nav_bar.active_link_color}};
    text-decoration: none;
}

#dashboard-topbar #dashboard-topbar-session  a.username {
    display: block;
    position: relative;
    top: -3px;
    background-color: {{top_nav_bar.bg_color}};
    padding: 0px 10px 0px 10px;
    color: {{top_nav_bar.link_color}};
}

#dashboard-topbar #dashboard-topbar-session  a.username:hover {
    color: {{top_nav_bar.active_link_color}};
    text-decoration: none;
}

#dashboard-topbar #dashboard-topbar-session img {
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    vertical-align: inherit;
}

#dashboard-topbar #dashboard-topbar-login-dropdown {
    z-index: 9999;
    position: absolute;
    right: 0;
    top: 32px;
    background-color: #2b2b2b;
    padding: 14px;
    width: 300px;
}

#dashboard-topbar #dashboard-topbar-login-dropdown form {
    margin: 0;
}

#dashboard-topbar #dashboard-topbar-login-dropdown .dashboard-topbar-field {
    padding: 0.5em 0;
}

#dashboard-topbar #dashboard-topbar-login-dropdown .dashboard-topbar-actions {
    clear: both;
    background: #2D2D2D;
    margin: 10px 0 0 0;
}

#dashboard-topbar #dashboard-topbar-login-dropdown label {
    width: 70px;
    display: inline-block;
    color: #eee;
    padding-right: 10px;
}
#dashboard-topbar #dashboard-topbar-login-dropdown .dashboard-topbar-field input {
    background-color: #666;
    border: 1px solid #999;
    color: #eee;
}

#dashboard-topbar #dashboard-topbar-login-login,
#dashboard-topbar #dashboard-topbar-login-cancel {
    cursor: pointer;
    display: inline-block;
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(white, white 25%, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, white 25%, #E6E6E6);
    background-image: -ms-linear-gradient(white, white 25%, #E6E6E6);
    background-image: -o-linear-gradient(white, white 25%, #E6E6E6);
    background-image: linear-gradient(white, white 25%, #E6E6E6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #CCC;
    border-bottom-color: #BBB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}
#dashboard-topbar #dashboard-topbar-login-login:hover,
#dashboard-topbar #dashboard-topbar-login-cancel:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
}
#dashboard-topbar #dashboard-topbar-login-login:active,
#dashboard-topbar #dashboard-topbar-login-cancel:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
}
#dashboard-topbar #dashboard-topbar-login-login,
#dashboard-topbar #dashboard-topbar-login-cancel,
#dashboard-topbar #dashboard-topbar-login-login:hover,
#dashboard-topbar #dashboard-topbar-login-cancel:hover {
    color: white;
}
#dashboard-topbar #dashboard-topbar-login-login {
    background-color: #385F83;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#699AC8), to(#385F83));
    background-image: -moz-linear-gradient(top, #699AC8, #385F83);
    background-image: -ms-linear-gradient(top, #699AC8, #385F83);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #699AC8), color-stop(100%, #385F83));
    background-image: -webkit-linear-gradient(top, #699AC8, #385F83);
    background-image: -o-linear-gradient(top, #699AC8, #385F83);
    background-image: linear-gradient(top, #699AC8, #385F83);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#699ac8', endColorstr='#385f83', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #385F83 #385F83 #21384D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

    margin-right: 4px;
}
#dashboard-topbar #dashboard-topbar-login-cancel {
    background-color: #404040;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(gray), to(#404040));
    background-image: -moz-linear-gradient(top, gray, #404040);
    background-image: -ms-linear-gradient(top, gray, #404040);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, gray), color-stop(100%, #404040));
    background-image: -webkit-linear-gradient(top, gray, #404040);
    background-image: -o-linear-gradient(top, gray, #404040);
    background-image: linear-gradient(top, gray, #404040);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#404040', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #404040 #404040 #1A1A1A;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#dashboard-topbar #dashboard-topbar-login-dropdown .dashboard-topbar-general-errors {
    color: #DE5858;
}
#dashboard-topbar #dashboard-topbar-login-dropdown .dashboard-topbar-validation-error label {
    color: #DE5858;
}
#dashboard-topbar #dashboard-topbar-login-dropdown .dashboard-topbar-validation-error input {
    border: 1px solid #DE5858;
}

#dashboard-topbar #dashboard-topbar-login-dropdown .dashboard-topbar-errors {
    margin: 5px 14px 5px 80px;
    width: 206px;
}

#dashboard-topbar .dashboard-topbar-actions {
    border: none;
    background: #2D2D2D;
    height: 25px;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}

#dashboard-topbar-session {
    color: white;
}

#dashboard-topbar-session .username {
    float: left;
    background-color: {{top_nav_bar.bg_color}};
    padding: 7px 10px;
    color: white;
}

#dashboard-topbar .home-icon {
    padding: 0 10px;
    background-image: url(_img/dashboard_grey.png);
    background-position: 10px 5px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 13px;
    height: 25px;
    /*border-right: 1px solid #404040; */
    float: left;
}

#dashboard-topbar .home-icon.active {
    background-image: url(_img/dashboard.png);
    border-top: 2px solid #bd0000;
    background-position: 10px 3px;
    height: 23px;
}

#dashboard-topbar .home-icon:hover {
    background-image: url(_img/dashboard.png);
    background-color: #2B2B2B;
}

#dashboard-topbar .home-icon-custom {

{{#if top_nav_bar.icon_width}}
    width: {{top_nav_bar.icon_width}}px;
{{/if}}
{{#if custom_icon_top_padding}}
    padding-top: {{custom_icon_top_padding}}px; /* a */
{{else}}
    padding-top: 3px;
{{/if}}
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    /*border-right: 1px solid #404040; */
    float: left;
    max-height: 21px;
}

{{#if top_nav_bar.show_brand}}
{{#if top_nav_bar.brand_link}}
/*  Move the icon a bit on a hover */
#dashboard-topbar .home-icon-custom:hover {
    padding-left: 9px;
    margin-right: 1px; /* keep the rest of the header in place */
}
{{/if}}
{{/if}}

#dashboard-profile {
    position: absolute;
    top: 25px;
    right: 0px;
    display: none;
    z-index: 999;
    padding: 20px 20px;
    border-left: 1px solid #404040;
    border-right: 1px solid #404040;
    border-bottom: 1px solid #404040;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

#dashboard-profile img {
    float : left;
}

#dashboard-profile .info {
    float: right;
    margin-left: 15px;
}

#dashboard-topbar .dashboard-menu-highlight {
    background-color: white;
    color: black;
    border-left: 1px solid #404040;
    border-right: 1px solid #404040;
    border-top: 1px solid #404040;
    padding: 1px 9px 2px 9px !important;
}

#dashboard-topbar .dashboard-menu-highlight:hover {
    color: black !important;
}

#dashboard-topbar span.ddown {
    font-size: 6px;
    position: relative;
    top: -2px;
    left: -1px;
}
#dashboard-more-apps {
    position: absolute;
    top: 25px;
    left: 0px;
    display: none;
    z-index: 999;

    border-left: 1px solid #404040;
    border-right: 1px solid #404040;
    border-bottom: 1px solid #404040;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);

}

#dashboard-more-apps ul {

    list-style: none;
    margin: 0;
    padding: 10px 0;
}

#dashboard-more-apps li {
    list-style: none;
    height: 27px;
}

#dashboard-more-apps li:hover {
    background-color: #ededed !important;
}

#dashboard-more-apps li a {
    color: black !important;
    font-weight: bold;
    text-decoration: none !important;
    padding: 0 20px;
    height: 27px;
    white-space: nowrap;
    font: 13px Arial,sans-serif;
    font-weight: bold;
    line-height: 27px;
    display: inline-block;
    width: 100%;
}

{{theme_content}}